<div class="container content-index">
  <div class="row justify-content-md-center">
    <div class="col-5">
      {{#if weather}}
        <h2>{{weather.cityName}}</h2>
        <h4>Now:</h4>
        <div class="city-box">
          <div>{{weather.description}}</div>
          <div>
            Temp: {{weather.temp}} &#x2109;
            (Low: {{weather.tempLow}} / High: {{weather.tempHigh}})
          </div>
          <div>Humidity: {{weather.humidity}}%</div>
          <div>Sunrise:  {{weather.sunrise}}</div>
          <div>Sunset:   {{weather.sunset}}</div>
        </div>
      {{/if}}
      {{#if error}}
        <div>{{error}}</div>
      {{/if}}
    </div>
    <div class="col-5">
      {{#if userInfoList}}
        <h1>{{userinfo.given_name}} Profile</h1>
        <dl>
          {{#each userInfoList}}
            <dt>{{this.term}}</dt>
            <dd>{{this.details}}</dd>
          {{/each}}
        </dl>
      {{/if}}
    </div>
  </div>
</div>

<div class="container footer">
  <div class="row">
    <div class="col">
      <p>
        If you don't have an account, you can <a href="/register">register for free</a>.
        Registering allows you to search any city, save cities, and receive alerts.
      </p>
      <p>
        If you have an account, but forgot your password, <a href="/reset-password">click here</a>
        to send a recovery link to your email.
      </p>
    </div>
  </div>
</div>
