<div class="container content-register">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h1>{{title}}</h1>
      <form method="post" id="register">
        <div>
          <label for="firstname">
            First Name
            <input id="firstname" name="firstName" required value="{{body.firstName}}" />
            <label class="error">{{errors.firstName}}</label>
          </label>
        </div>
        <div>
          <label for="lastname">
            Last Name
            <input id="lastname" name="lastName" required value="{{body.lastName}}" />
            <label class="error">{{errors.lastName}}</label>
          </label>
        </div>
        <div>
          <label for="email">
            Email address
            <input type="email" id="email" name="email" required value="{{body.email}}" />
            <label class="error">{{errors.email}}</label>
            <label class="error">{{errors.login}}</label>
          </label>
        </div>
        <div>
          <label for="password">
            Password
            <input name="password" type="password" required value="{{body.password}}" />
            <label class="error">{{errors.password}}</label>
          </label>
        </div>
        <div>
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
